HANA_HOST=
HANA_PORT=443
HANA_UID=
HANA_PWD=
DB_AUTH_MODE=technical
HANA_SCHEMA=

HANA_VIEW_ENERGY=
HANA_VIEW_WATER=
HANA_VIEW_GAS_HOUR=
HANA_VIEW_TEMPERATURE=
HANA_VIEW_USERROLES=

APP_LOCAL_USER_ID=
APP_LOCAL_USER_NAME=
APP_LOCAL_USER_EMAIL=
